make_blueprints/scenario_3_onboarding.json
{
  "name": "Scenario 3: Client Onboarding OS",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebhooks",
      "version": 1,
      "parameters": {
        "hook": "CONFIGURE_IN_MAKE"
      },
      "metadata": {
        "designer": { "x": -600, "y": 0 }
      }
    },
    {
      "id": 2,
      "module": "builtin:Filter",
      "version": 1,
      "parameters": {
        "conditions": [
          {
            "left": "{{1.event}}",
            "operator": "text:equal",
            "right": "payment.captured"
          }
        ]
      },
      "metadata": {
        "designer": { "x": -300, "y": 0 }
      }
    },
    {
      "id": 3,
      "module": "notion:ActionSearchObjects",
      "version": 1,
      "parameters": {
        "connection": "CONFIGURE_IN_MAKE"
      },
      "mapper": {
        "database": "{{NOTION_LEADS_DB_ID}}",
        "filter": {
          "property": "Email",
          "email": {
            "equals": "{{1.payload.payment.entity.email}}"
          }
        }
      },
      "metadata": {
        "designer": { "x": 0, "y": 0 }
      }
    },
    {
      "id": 4,
      "module": "notion:ActionCreateDatabaseItem",
      "version": 1,
      "parameters": {
        "connection": "CONFIGURE_IN_MAKE"
      },
      "mapper": {
        "database": "{{NOTION_CLIENTS_DB_ID}}",
        "properties": {
          "Client Name": { "title": [{ "text": { "content": "{{3.results[0].properties.Name.title[0].text.content}}" } }] },
          "Company": { "rich_text": [{ "text": { "content": "{{3.results[0].properties.Company.rich_text[0].text.content}}" } }] },
          "Website": { "url": "{{3.results[0].properties.Website.url}}" },
          "Payment ID": { "rich_text": [{ "text": { "content": "{{1.payload.payment.entity.id}}" } }] },
          "Amount": { "number": "{{1.payload.payment.entity.amount / 100}}" },
          "Status": { "select": { "name": "Active" } },
          "Start Date": { "date": { "start": "{{now}}" } },
          "Next Report Date": { "date": { "start": "{{formatDate(addMonths(now; 1); 'YYYY-MM-01')}}" } }
        }
      },
      "metadata": {
        "designer": { "x": 300, "y": 0 }
      }
    },
    {
      "id": 5,
      "module": "http:ActionRequest",
      "version": 1,
      "parameters": {
        "url": "https://itappens.ai/api/webhooks/make",
        "method": "post",
        "headers": [
          { "name": "x-webhook-secret", "value": "{{MAKE_WEBHOOK_SECRET}}" }
        ],
        "body": "{\"event\": \"client_onboarded\", \"leadId\": \"{{3.results[0].id}}\", \"razorpayPaymentId\": \"{{1.payload.payment.entity.id}}\"}",
        "type": "json"
      },
      "metadata": {
        "designer": { "x": 600, "y": 0 }
      }
    },
    {
      "id": 6,
      "module": "notion:ActionUpdateDatabaseItem",
      "version": 1,
      "parameters": {
        "connection": "CONFIGURE_IN_MAKE",
        "pageId": "{{3.results[0].id}}"
      },
      "mapper": {
        "properties": {
          "Status": { "select": { "name": "Client" } }
        }
      },
      "metadata": {
        "designer": { "x": 900, "y": 0 }
      }
    },
    {
      "id": 7,
      "module": "brevo:ActionSendEmail",
      "version": 1,
      "parameters": {
        "connection": "CONFIGURE_IN_MAKE"
      },
      "mapper": {
        "to": [{ "email": "{{1.payload.payment.entity.email}}" }],
        "subject": "Welcome to itappens.ai — Your GEO journey starts now",
        "htmlContent": "Hi {{3.results[0].properties.Name.title[0].text.content}},<br><br>Payment confirmed. You're in.<br><br>Follow-up items inside onboarding portal."
      },
      "metadata": {
        "designer": { "x": 1200, "y": 0 }
      }
    },
    {
      "id": 8,
      "module": "http:ActionRequest",
      "version": 1,
      "parameters": {
        "url": "https://live-mt-server.wati.io/api/v1/sendSessionMessage/+919353015844",
        "method": "post",
        "headers": [
          { "name": "Authorization", "value": "Bearer {{WATI_API_KEY}}" }
        ],
        "body": "{\"messageText\": \"NEW CLIENT: {{3.results[0].properties.Company.rich_text[0].text.content}} confirmed. Check Notion.\"}",
        "type": "json"
      },
      "metadata": {
        "designer": { "x": 1500, "y": 0 }
      }
    }
  ],
  "metadata": { "version": 1 }
}
